.maxWidth {
    width: 80%;
    display: flex;
    align-self: center;
}
.container {
    gap: var(--dl-space-space-unit);
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    max-width: 600px;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
}
.container2 {
    display: grid;

}

@media(max-width: 991px) {
    .container {
        margin-bottom: var(--dl-space-space-threeunits);
    }
}
@media(max-width: 767px) {
    .testimonial-container10 {
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
}